<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="pages_three/index.html" />
                <add value="pages_two/index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
