@charset 'utf-8';
.combody {
  background: #ffffff;
}
.combody .comTitle {
  border-bottom: 2px solid #d98719;
  margin-bottom: 10px;
}
.combody .comTitle span {
  display: inline-block;
  width: 150px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #d98719;
  color: #ffffff;
  line-height: 42px;
}
.combody .comTitle .more {
  float: right;
  margin-right: 20px;
  font-size: 14px;
}
.combody .articList {
  margin: 0 15px;
}
.combody .articList li {
  padding: 10px 0;
}
.combody .articList li span {
  float: right;
  color: #999999;
}
.combody .articList li a:hover {
  color: #4C8FF7;
}
.combody .graphic {
  height: calc(100% - 40px);
  min-height: 420px;
}
.combody .layui-btn .iconfont {
  font-size: 14px;
  float: left;
  margin-right: 5px;
}
.combody .layui-btn .text {
  float: left;
}
.combody .layui-form-label {
  width: auto !important;
  min-width: 80px;
  padding: 8px 0;
}
.combody .layui-row {
  padding-right: 40px;
}
.combody .delForm {
  padding: 20px 50px;
}
.combody .echatsBox {
  padding: 30px 50px;
  height: 100%;
}
.combody .echatsBox > div {
  height: 100%;
}
.combody .formTitle {
  padding: 10px 15px;
  font-size: 16px;
  background: #f5f5f5;
  border-bottom: 1px solid #d6d6d6;
}
.searchBox {
  padding: 20px 20px 0;
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
}
.searchBox .searchBtn {
  padding: 0 20px;
}
.layui-dialog {
  display: none;
  padding: 15px 40px;
}
.layui-tree-icon {
  width: 15px;
  height: 15px;
  line-height: 15px;
}
.dialog-btn-box {
  margin-top: 40px;
}
.dialog-btn-box .layui-btn {
  width: 120px !important;
}
.formModal {
  min-width: 800px;
  width: 60%;
}
.formModal.freeModal {
  width: 100%;
}
.formModal.freeModal .layui-inline {
  line-height: 38px;
}
.formModal.freeModal .layui-inline .iconfont {
  color: #999999;
  margin-right: 5px;
}
.articleList {
  padding: 0 20px;
}
.articleList .item {
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #4C8FF7;
}
.articleList .item .article_title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.articleList .item .article_content {
  text-indent: 2em;
  line-height: 1.4;
}
.articleList .item .article_data {
  line-height: 30px;
}
.articleList .item .article_data .d_item {
  margin-right: 20px;
  color: #999999;
}
.articleList .item .article_data .d_item .iconfont {
  color: #999999;
}
.detailed {
  border: 1px solid #d6d6d6;
  border-radius: 0.3em;
  background: #f5f5f5;
  padding: 20px 10px 0;
  width: 900px;
  margin-left: 120px;
}
.detailed .col {
  float: left;
  margin: 0 10px 20px;
  line-height: 38px;
}
.submitBtn button {
  width: 150px;
}
#settlement {
  padding: 30px 50px;
}
#settlement .priceInfo {
  height: 150px;
  border-radius: 10px;
  background: #EBF4FF;
  padding: 30px 0;
  text-align: center;
}
#settlement .priceInfo .allPrice {
  padding: 0 50px;
  border-right: 1px solid #ffffff;
}
#settlement .priceInfo .flex-item-1 {
  width: 300px;
  line-height: 40px;
}
#settlement .showTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#settlement .showTable tbody {
  background: none;
}
#settlement .showTable td {
  height: 50px;
  padding: 0 15px;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
}
