@import '../base.less';
.container {
    .head {
        background: @sky_blue;
        border-bottom: 1px solid @dark_blue;
        .headBar {
            margin-left:40px;
            a {
                float:left;
                height: 60px;
                line-height: 60px;
                min-width:100px;
                padding: 0 20px;
                font-size: 15px;
                color: @white;

                .iconfont {
                    font-size: 16px;
                    position: relative;
                    top:1px;
                }

                &.active {
                    background: @sky_blue_dack !important;
                }

                &:hover {
                    background:@sky_blue;
                    opacity: 0.8;
                }
            }
        }
    }
    .body{
        .m_left{
            .menuBox{
                ul{
                    li{
                        a{
                            // border-bottom:1px solid @gray_d6;
                            font-size:14px;
                            height:50px;
                            line-height: 50px;
                            &::before{
                                height:50px;
                            line-height: 50px;
                            }
                        }
                        &.active a{
                            background: @gray_f5 !important;
                            color:@gray_66;
                            .boxShadow(2px,0px,2px,rgba(0,0,0,0.2));
                            
                        }
                    }
                }
            }
        }
        .m_right{
            .treeBox{
                border:0;
                .treeMain{
                    a{
                        border-top:0 !important;
                        line-height: 40px !important;
                    }
                }
            }
        }
    }
}
