@import '../base.less';
.container {
    .head {
        background: @sky_blue;
        border-bottom: 1px solid @dark_blue;
        .headBar {
            margin-left:40px;
            a {
                float:left;
                height: 60px;
                line-height: 60px;
                min-width:100px;
                padding: 0 20px;
                font-size: 15px;
                color: @white;

                .iconfont {
                    font-size: 16px;
                    position: relative;
                    top:1px;
                }

                &.active {
                    background: @sky_blue_dack !important;
                }

                &:hover {
                    background:@sky_blue;
                    opacity: 0.8;
                }
            }
        }
    }
    .body{
        .m_left{
            background: @gray_f9;
            .boxShadow(3px,0,5px,rgba(0,0,0,0.1));
            .menuBox{
                ul{
                    li{
                        a{
                            // border-bottom:1px solid @gray_d6;
                            font-size:14px;
                            height:50px;
                            line-height: 50px;
                            &::before{
                                height:50px;
                            line-height: 50px;
                            }
                        }
                        &.active a{
                            background: @sky_blue_dack !important;
                            // color:@gray_66;
                            .boxShadow(2px,0px,2px,rgba(0,0,0,0.1));
                            
                        }
                        i{
                            height:50px;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
        
        .m_right{
            .treeBox{
                border:0;
                background: @gray_f9;
                .treeMain{
                    a{
                        border-top:0 !important;
                        line-height: 40px !important;
                        &.active{
                            background: @white;
                        }
                    }
                }
            }
            .main{
                background: @white;
                padding:0;
                .iframe{
                    background: @white;
                }
            }
        }
    }
}
.combody{
    padding:15px !important;
    &.hasfoot{
        padding-bottom:70px;
        position: relative;
    }
    .comTitle{
        border-bottom: 2px solid @coldCopper;
        margin-bottom:10px;
        span{
            display: inline-block;
            width: 150px;
            text-align: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background: @coldCopper;
            color:@white;
            line-height: 42px;
        }
        .more{
            float:right;
            margin-right:20px;
            font-size:14px;
        }
    }
    .articList{
        margin:0 15px;
        li{
            padding:10px 0;
            span{
                float:right;
                color:@gray_99;
            }
            a:hover{
                color:@blue;
            }
        }
    }
    .graphic{
        height: calc(100% - 40px);
        min-height:420px;
    }
    .comFoot{
        position: fixed;
        .boxShadow(0,-3px,5px,rgba(0,0,0,0.1));
        width: 100%;
        bottom:0;
        left:0;
        padding:10px;
        background: @gray_f9;
        text-align: right;
    }
}
.comModal{
    margin-bottom:20px;
    padding:0 0 15px ;
    .radius();
    .boxShadow(0,0,5px,rgba(0,0,0,0.1));
    .title{
        height:40px;
        line-height: 40px;
        padding:0 15px;
        font-size:15px;
        border-bottom: 1px solid @gray_d6;
    }
    .layui-form-label {
        width: 180px !important;
    }

    .layui-input-block {
        margin-left: 190px !important;
    }
    .msg{
        line-height: 38px;
        color:@gray_99;
        margin-left:15px;
    }
}
.searchModal{
    height:38px;
    border:1px solid @gray_d6;
    overflow: hidden;
    .radius();
    input{
        float:left;
        border:0;
        line-height: 36px;
        padding:0 10px;
    }
    span{
        float:left;
        width: 50px;
        color:@gray_66;
        background: @gray_f5;
        line-height: 36px;
        text-align: center;
        border-left:1px solid @gray_d6;
        cursor: pointer;
        &:hover{
            background: @sky_blue;
            color:@white;
            border-left-color: @sky_blue;
        }
    }
}
.layui-table-cell{
    > a{
        display: inline;
        margin:0 5px;
    }
}
.layui-tab-title{
    li{
        border-top:1px solid @gray_d6;
        &.layui-this{
             border-color:@blue;
        }
    }
}
.layui-tree-icon{
    width:15px;
    height:15px;
    line-height: 15px;
}
    
