@charset 'utf-8';
.combody {
  background: #ffffff;
}
.combody .graphic {
  height: calc(100% - 40px);
  min-height: 420px;
}
.combody .layui-btn .iconfont {
  font-size: 14px;
  float: left;
  margin-right: 5px;
}
.combody .layui-btn .text {
  float: left;
}
.combody .layui-form-label {
  width: auto !important;
  min-width: 80px;
}
.combody .layui-row {
  padding-right: 40px;
}
.combody .delForm {
  padding: 20px 50px;
}
.combody .echatsBox {
  padding: 30px 50px;
  height: 100%;
}
.combody .echatsBox > div {
  height: 100%;
}
.searchBox {
  padding: 20px 20px 0;
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
}
.searchBox .searchBtn {
  padding: 0 20px;
}
