@import '../base.less';
@import '../base.less';

.combody{
    background:@white;
    .graphic{
        height: calc(100% - 40px);
        min-height:420px;
    }
    .layui-btn{
        .iconfont{
            font-size:14px;
            float:left;
            margin-right:5px;
        }
        .text{
            float:left;
        }
    }
    .layui-form-label{
        width: auto !important;
        min-width: 80px;
        padding:8px 0;
    }
    .layui-row{
        padding-right:40px;
    }
    .delForm{
        padding: 20px 50px;
    }
    .echatsBox{
        padding:30px 50px;
        height:100%;
        > div{
            height:100%;
        }
    }
    .formTitle{
        padding:10px 15px;
        font-size:16px;
        background:@gray_f5;
        border-bottom:1px solid @gray_d6;
    }
    
}
  .searchBox {
    padding: 20px 20px 0;
    border: 1px solid @gray_e6;
    background: @gray_f5;
    .searchBtn{
      padding:0 20px;
    }
}
.layui-dialog{
    display: none;
    padding:15px 40px;
}
.layui-tree-icon{
    width:15px;
    height:15px;
    line-height: 15px;
}
.dialog-btn-box{
    margin-top:40px;
    .layui-btn{
        width: 120px !important;
    }
}
.orderNav{
    padding:20px 20px 0;
    .item{
        float:left;
        margin-right:20px;
        margin-bottom:20px;
        border-radius:10px;
        width: 150px;
        height:150px;
        background-color: @sky_blue;
        color:@white;
        position: relative;
        line-height: 1.4;
        cursor: pointer;
        .text{
            position: absolute;
            width: 100%;
            top:50%;
            text-align: center;
            transform: translateY(-50%);
            font-size:20px;
        }
        .text_n{
            position: absolute;
            text-align: center;
            top:10px;
            right:10px;
        }
    }
    .add{
        float:left;
        cursor: pointer;
        margin-right:20px;
        margin-bottom:20px;
        border-radius:10px;  
        width: 150px;
        height:150px;
        background: @gray_f5;
        text-align: center;
        line-height: 150px;
        .iconfont{
            font-size:50px;
            color:@gray_99;
        }
    }
}
.formModal{
    min-width:800px;
    width: 60%;
}